@import '../../style/_variables.scss';
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $clr-color-a10;
    padding: 20px;


    .landing{
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        background-color: $clr-color-a10;
        padding: 20px;
        button{
            padding: 12px 24px;
            background-color: $clr-color-a60;
            color: white;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 20px;
        }
        h1{
    font-size: 3rem;
    color: $clr-color-a60;
    margin-bottom: 20px;
    }
    p{
    font-size: 1.5rem;
    color: $clr-color-a50;
    }
}
.boxSobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $clr-color-a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($clr-color-a80, 0.1);
    margin-bottom: 20px;
        h2{
        font-size: 2rem;
        color: $clr-color-a60;
        margin-bottom: 10px;
        }
        p{
        font-size: 1.2rem;
        color: $clr-color-a50;
        text-align: center;
        }
}
.boxComoFunciona{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $clr-color-a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($clr-color-a80, 0.1);
    margin-bottom: 20px;
        h2{
        font-size: 2rem;
        color: $clr-color-a60;
        margin-bottom: 10px;
        }
        p{
        font-size: 1.2rem;
        color: $clr-color-a50;
        text-align: center;
        }
}
.boxAjuda{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $clr-color-a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($clr-color-a80, 0.1);
    margin-bottom: 20px;
        h2{
        font-size: 2rem;
        color: $clr-color-a60;
        margin-bottom: 10px;
        }
        p{
        font-size: 1.2rem;
        color: $clr-color-a50;
        text-align: center;
        }
}
.boxMissao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $clr-color-a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($clr-color-a80, 0.1);
    margin-bottom: 20px;
        h2{
        font-size: 2rem;
        color: $clr-color-a60;
        margin-bottom: 10px;
        }
        p{
        font-size: 1.2rem;
        color: $clr-color-a50;
        text-align: center;
        }
}
.boxContato{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: $clr-color-a0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba($clr-color-a80, 0.1);
    margin-bottom: 20px;
        h2{
        font-size: 2rem;
        color: $clr-color-a60;
        margin-bottom: 10px;
        }
        p{
        font-size: 1.2rem;
        color: $clr-color-a50;
        text-align: center;
        }
}
.boxFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: $clr-color-a60;
    padding: 20px;
        p{
        font-size: 1rem;
        color: $clr-color-a0;
        text-align: center;
        }
}
}











