@import '../../style/_variables.scss';
.registroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: $clr-color-a10;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba($clr-color-a80, 0.1);
}

.registroForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 12px;
}

.registroForm input,
.registroForm textarea,
.registroForm select,
.registroForm button {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.registroForm button {
  background-color: $clr-color-a40;
  color: white;
  border: none;
  cursor: pointer;
}

.registroForm button:hover {
  background-color: #0056b3;
}












